body{
    background-color: aliceblue;
}


/*Para Fazer Tabelas -- Início*/
#total{
    background-color: antiquewhite;
}
#categorias{
    background-color: darkkhaki;
}
#background{
    background-color: aliceblue;
}
#tabela{
    background-color: white;
}
#titulo{
    background-color: cornsilk;
}
/*Para Fazer Tabelas -- Fim*/


/*Para Colocar a Fonte -- Início*/
h1{
    font-family: "Comic Sans MS", sans-serif;
}
h2{
    font-family: "Arial Narrow", sans-serif;
}
.atividades{
    font-family: "Comic Sans MS", Verdana, sans-serif;
    font-size: small;
}
/*Para Colocar a Fonte -- Fim*/

.titulo_principal{
    font-size: xx-large;
    text-align: center;
}